@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables.sass";

$navbar-height: 2rem;
$box-radius: $radius-small;
$section-padding: 1rem 1.5rem;

@import 'bulma/bulma';
// @import 'bulma-extensions/extensions';

.todo-container {
  @extend .column;
  @extend .is-12-mobile;
  @extend .is-6-tablet;
  @extend .is-4-desktop;
  @extend .is-3-widescreen;
  @extend .is-2-fullhd;
}

.todo {
  @extend .box;
  transition: 0.2s;
  height: 100%;
  position: relative;
  min-height: 120px;
}

.todo:hover {
  background-color: $light;
}

.todo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $box-radius;
}

.todo-buttons {
  @extend .is-mobile;
  @extend .is-centered;
  @extend .is-multiline;
  margin: 0 auto;
  height: 100%;
  background-color: $box-background-color;
}

.todo-buttons:hover {
  background-color: $light;
}

.todo-edit {
  display: table;
  background-color: $box-background-color;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.todo-edit:hover {
  background-color: $light;
}

.todo-textarea-container {
  display: table-row;
  height: 100%;
  width: 100%;
}

.todo-textarea {
  resize: none;
  height: 100%;
}

// workaround to override behaviour in bulma/form.sass
.textarea.todo-textarea {
  min-height: 10px;
}

.todo-new {
  @extend .has-text-centered;
  @extend .todo;
}

.todo-edit-buttons {
  display: table-row;
  @extend .is-centered;
  padding: 5px;
}

.test-center {
  justify-content: center;
}

.todo-done {
  @extend .box;
  height: 100%;
  position: relative;
  opacity: 0.3;
}

.vcentered-button {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Site section
html {
  background-color: $light;
}

.site {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

// Table helpers
.table-wrapper {
  overflow-x: auto;
}

.lay-container-test {
  position: relative;
}

// .lay-test:hover {
//   visibility: hidden;
// }

.lay-test {
  position: absolute;
  padding: $box-radius;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // visibility: visible;
}

// .lay-content {
//   background-color: crimson;
//   width: 100%;
//   height: 100%;
// }

// .lay-content:hover {
//   display: block;
// }